*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* text-decoration: none; */
}
h1{
    color: red;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 60px;
    
}
.total area{
    display: flex;
    clear: both;
}
.head h2{
    text-align: center;
    margin: 10px;
}
.head{
    width: 50%;
    height: 300px;
    border: 5px solid salmon;
    box-shadow: 10px 30px 30px orangered;
    margin-bottom: 89px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 30px;
    text-align: justify;
 
}